/* CSS 는 HTML에 디자인을 적용 */

/* 선택자{속성:값...} 의 형태로 작성 */

/* body 태그에 적용 */
body {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	margin: 6em;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	margin-bottom:3em;
}
a {
	display: block;
	width: 10em;
	margin: 0 5px;
	padding: .5em 1em;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: rgb(190, 190, 190);
	border: 2px solid rgb(175, 175, 175);
	border-radius: 6px;
	text-shadow: #666 .1em .1em .1em;
	box-shadow: 0 5px 3px rgba(0, 0, 0, .5);
	position: relative;
	-webkit-transition: background-color 0.2s, border-color 0.2s, top .2s,
		box-shadow 0.2s;
	-moz-transition: background-color 0.2s, border-color 0.2s, top .2s,
		box-shadow 0.2s;
	-o-transition: background-color 0.2s, border-color 0.2s, top .2s,
		box-shadow 0.2s;
	-ms-transition: background-color 0.2s, border-color 0.2s, top .2s,
		box-shadow 0.2s;
	transition: background-color 0.2s, border-color 0.2s, top .2s,
		box-shadow 0.2s;
}

/* a 태그에 포커스가 오거나 마우스가 올라오면 적용
: 다음에 나오는 것은 가상 선택자, 가상 클래스 */
a:hover, a:focus {
	background-color: #fdca00;
	border-color: #fda700;
}

a:active {
	top: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
