h5{
	color:green;
}

body{
background-image:url('../images/img.png');
background-color:#d9e5ff;
align:"center";
text-align:"center";
}
a{
align:"center";
}
div{

text-align:"center";
}